RewriteEngine on
RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^user/([0-9a-zA-Z_-]+) user.php?username=$1 [NC,l]

RewriteRule ^user user.php [NC,l]

RewriteRule ^login login.php [NC,l]

RewriteRule ^signup signup.php [NC,l]

RewriteRule ^game/(.*) game.php?game=$1 [NC,l]

RewriteRule ^game game.php [NC,l]

RewriteRule ^games game.php [NC,l]

RewriteRule ^new-game/library/([0-9]+) new-game.php?id=$1 [NC,l]

RewriteRule ^new-game/(.*) new-game.php?type=$1 [NC,l]

RewriteRule ^edit-game/(.*) edit-game.php?gameName=$1 [NC,l]

RewriteRule ^logout logout.php [NC,l]

RewriteRule ^discography discography.php [NC,l]

RewriteRule ^discographies discography.php [NC,l]

RewriteRule ^rides rides.php [NC,l]

RewriteRule ^wishlist/(.*) wishlistgame.php?gameName=$1 [NC,l]

RewriteRule ^wishlist wishlistgame.php [NC,l]

RewriteRule ^humanity humanity.php [NC,l]